<!-- templates/registration/password_reset_form.html -->
{% extends 'non-dashboard-base.html' %}
{% load static %}
{% block title %}Lupa Password Anda?{% endblock %}

{% block content %}
<div class="container"> 
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-around signup-panel">
            <div class="login100-pic js-tilt" data-tilt="" style="transform: perspective(300px) rotateX(0deg) rotateY(0deg); will-change: transform;">
                <img src="{% static 'img/password.png' %}" alt="IMG">
            </div>
            <form method="POST" class="login100-form validate-form">
              {% csrf_token %}
              <span class="login100-form-title">
                Masukkan Email Anda untuk Permintaan Akses Pengubahan Password
            </span>
              <div class="wrap-input100 validate-input" data-validate = "Password is required">
                {{form.email}}
                <!-- <input class="input100" type="password" name="pass" placeholder="Password"> -->
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
              </div>
              <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit">
                    Kirim Permintaan
                </button>
              </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block jquery %}
<script>
  $(document).ready(function(){
    $('#id_email').addClass('input100');
    $('#id_email').attr("placeholder", "Masukkan Email Anda")
  })
</script>
  
{% endblock jquery %}

  