{% extends 'non-dashboard-base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-around signup-panel">
      <div>
        <div class="login100-pic js-tilt" data-tilt="" style="transform: perspective(300px) rotateX(0deg) rotateY(0deg); will-change: transform;">
            <img src="{% static 'img/success.png' %}" alt="IMG">
        </div>
        <h5 class="font-weight-bold mt-4">
          Password Telah berhasil direset
        </h5>
        <div class="container-login100-form-btn">
          <a class="login100-form-btn" type="button" href="{% url 'registration:sign_in' %}">
              Login Sekarang
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}