@font-face {
    font-family: 'GROBOLD';
    font-style: normal;
    font-weight: normal;
    src: local('GROBOLD'), url('../font/GROBOLD.woff') format('woff');
    }

.sunatlem-brand {
    font-family:'GROBOLD';
    font-weight:normal;
    font-size:32px;
}

@media only screen and (min-width: 500px) {
    .sunatlem-panel{
        width: 740px;
    }
}

@media only screen and (max-width: 540px) {
    .sunatlem.toggled {
        width: 0 !important;
        overflow: hidden !important;
      }
}

