@font-face {
    font-family: 'GROBOLD';
    font-style: normal;
    font-weight: normal;
    src: local('GROBOLD'), url('../font/GROBOLD.woff') format('woff');
    }

.sunatlem-brand {
    font-family:'GROBOLD';
    font-weight:normal;
    font-size:48px;
}

.sunatlem-brand .dash{
    text-transform: capitalize;
}

@media only screen and (min-width: 500px) {
    .sunatlem-panel{
        width: 740px;
    }
}

@media only screen and (max-width: 540px) {
    .sunatlem-toggled {
        display: none;
      }

    .mobile-content{
        margin-bottom: 6em !important;
    }

}

/* home cover */
.home-cover{
    height: 640px;
    background-image: url('../img/bg-pattern.png');
    background-color: #ffa7a7;
    text-align: center;
    
}

.home-cover h1{
    color: #f73737;
    font-size: 32px;
}

.home-cover h1 span{
    color: black;
}

.button{
    border-radius: 30px;
}

/*panel section */
.panel{
    margin-top: -50px;
    width: 960px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}

.panel img {
    width: 120px;
    height: 120px;
}

.text-panel{
    margin-top: 40px;
    text-transform: capitalize;
}

/* sign-up panel */
.signup-panel{
    margin-top: 70px;
    padding: 50px 20px 50px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 960px;
    border-top: 40px;
}

/* reset */
.reset{
    margin-bottom: 40px;
    margin-top: 50px;
}

.reset .login100-pic{
    display: block !important;
    width: 100% !important;
}

/* user profile panel */
.profile-panel{
    padding: 50px 15px 50px 15px;
    border-radius: 30px;
}

.profile-image{
    width: 150px;
}

.profile-detail{
    text-align: center;
}

.profile-panel .bio{
    text-align: justify;
}

.profile-panel .name {
    background-color: tomato;
    color: white;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

.profile-panel-detail{
    padding: 50px 10px 50px 10px !important;
}

.profile-panel-detail p{
    margin-top: 0;
    margin-bottom: 0;
}
.profile-panel-detail span{
    display: none;
}

.profile-panel-detail .content{
    margin-top: 4px !important;
}

/* sb2 scroll */
.scroll-to-top{
    bottom: 6rem !important;
}

/* sticky footer */
.sticky-footer{
    display: none;
}

/* mobile navbar section */
.control li{
    display: block !important;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.control .active .nav-link{
    color: lightcoral !important;
}

.control .fas{
    display: inline-block;
}

.control .nav-detail{
    display: block;
}

.control .dropup .dropdown-toggle::after{
    display: none;
}

#sidebarToggleTop{
    display: none;
}

/* payment method */
.payment-method-img{
    width: 100px;
}

.payment-item{
    font-size: 14px;
}

/* lecture image in event detail view */
.lecture-img{
    width: 100px;
}

/* icon-detail block */
.icon-block{
    display: inline-block;
    font-size: 28px;
}

.detail-block{
    display: inline-block;
    font-size: 12px;
}

/* .home-button */
.home-button{
    width: 120px;
    height: 100px;
    color: #e06060;
}

.home-button:hover{
    color: #b54c4c;
}


@media (min-width: 992px) {
/* home cover */
    .home-cover{
        text-align: left;
    }

    .home-cover h1{
        margin-top: 150px;
        font-size: 48px;    
    }

    .signup-panel{
        padding: 50px 30px 50px 30px;
    }

    /* reset */
    .reset{
        margin-top: 70px;
    }

    .reset .login100-pic{
        width: 40% !important;
    }

    /* reset confirm field */
    .reset-confirm-field{
        width: 320px !important;
    }

    /* panel */
    .panel{
        margin-top: -100px;
    }

    .panel h5{
        font-size: 16px;
    }

    /* profile panel */
    .profile-panel{
        padding: 50px 20px 50px 20px;
    }

    .profile-panel-detail span{
        display: inline;
    }

    /* mobile navbar section */
    .control{
        display: none;
    }

    #sidebarToggleTop{
        display: block;
    }

    /* sticky footer */
    .sticky-footer{
        display: block;
    }
    
    /* home-button-group */
    .home-button{
        width: 120px;
        height: 100px;
        color: #e06060;
    }

    .home-button:hover{
        color: #b54c4c;
    }

    .home-button-value{
        margin-top: 15px;
    }

    /* icon-detail block */
    .icon-block{
        display: block;
        font-size: 42px;
    }

    .detail-block{
        display: block;
        font-size: 15px;
    }

}

