{% load static %}
  
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script
  src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
  integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
  crossorigin="anonymous"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

<!-- Popper Javascript -->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>

<!-- select2 javascript -->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>

<!-- tilt javascript -->
<script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>

<!-- main javascript -->
<script src="{% static 'js/main.js' %}"></script>

<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>