{% extends 'dashboard.html' %}

{% block title %}
    {{object.name}}
{% endblock title %}

{% load humanize %}
    
{% load static %}
{% load i18n %}
{% block content %}
{% language 'id' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4 ">
                <div class="card-header">
                    <h5 class="text-danger font-weight-bold m-0">Keterangan Event</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        
                        {% if object.poster %}
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div class="my-auto">
                                    <h6 class="font-weight-bold m-0">
                                        <i class="fas fa-image mr-1"></i>
                                        <span>Poster</span>
                                    </h6>
                                </div>
                                <div class="my-auto">
                                    <a class="btn btn-link font-weight-bold" data-toggle="collapse" href="#poster" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <span>Detail</span>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show" id="poster">
                                <div class="card card-body"> 
                                    <a href="{{object.poster.url}}">
                                        <img src="{{object.poster.url}}" alt="{{object.poster.name}}" class="img-fluid">  
                                    </a>        
                                </div>
                            </div>
                        </li>
                        {% endif %}
                            

                        {% if event_participant.0.invoice.pay_status %}
                        <li class="list-group-item">  
                            <h6 class="font-weight-bold m-0 text-success">
                                <i class="far fa-check-circle"></i>
                                <span>Anda Terdaftar Pada Event Ini</span> 
                            </h6>
                        </li>
                        {% endif %}

                        {% if event_participant|length > 0 and not event_participant.0.invoice.pay_status and object.is_registration_due == False and event_participant.0.invoice.is_invoice_due == False %}
                        <li class="list-group-item">  
                            <h6 class="font-weight-bold m-0 text-warning">
                                <i class="fas fa-exclamation-triangle"></i>
                                <span>Anda telah mendaftarkan diri pada Event Ini</span> 
                            </h6>
                        </li>   
                        <li class="list-group-item">  
                            <h6 class="font-weight-bold m-0 text-warning">
                                <i class="fas fa-exclamation-triangle"></i>
                                <span>Segera Selesaikan Pembayaran  </span> 
                            </h6>
                        </li>
                        {% endif %}
                        
                        {% if object.is_registration_due %}
                        <li class="list-group-item">  
                            <h6 class="font-weight-bold m-0 text-danger">
                                <i class="far fa-cexclamation-circle"></i>
                                <span>Pendaftaran sudah ditutup</span> 
                            </h6>
                        </li>
                        {% endif %}
                            
                        <li class="list-group-item">
                            <h6 class="font-weight-bold m-0">
                                <i class="far fa-bell mr-1"></i>
                                <span>{{object.name}}</span> 
                            </h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="font-weight-bold m-0">
                                <i class="fas fa-chalkboard-teacher mr-1"></i>
                                <span>{{object.get_event_type_display}}</span> 
                            </h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="font-weight-bold m-0">
                                <i class="far fa-calendar-alt mr-1"></i>
                                <span>{{object.date|date:"d F Y"}}</span>
                            </h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="font-weight-bold m-0">
                                <i class="far fa-clock mr-1"></i>
                                <span>{{object.time}} WIB</span>
                            </h6>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div class="my-auto">
                                    <h6 class="font-weight-bold m-0">
                                        <i class="fas fa-map-marker-alt mr-1"></i>
                                        <span>{{object.location}}</span>
                                    </h6>
                                </div>
                                <div class="my-auto">
                                    <a class="btn btn-link font-weight-bold" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <span>Detail</span>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    <h6>{{object.location.street}}</h6>
                                    <h6>{{object.location.sub_district}}</h6>
                                    <h6>{{object.location.city}}, {{object.location.province_or_state}}</h6>
                                    <h6>{{object.location.country}} {{object.location.postal_code}}</h6>
                                    {% if object.location.google_maps %}
                                    <a href="{{object.location.google_maps}}" class="font-weight-bold">
                                        <i class="fas fa-map-marked-alt"></i>
                                        <span>Link Google Maps</span>
                                    </a>
                                    {% endif %}
                                        
                                </div>
                            </div>
                        </li>
                        {% if not event_participant.0.invoice.pay_status and not object.is_registration_due %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h6 class="font-weight-bold m-0">
                                <i class="fas fa-tags mr-1"></i>
                                <span >Rp. {{ price.price|intcomma }}</span>
                            </h6>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h5 class="font-weight-bold text-danger">Pemateri</h5>
                </div>
                <div class="card-body">    
                    {% for instance in event_lecture %}   
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="my-auto col-4">
                                        <img src="{{instance.user.profile.image_profile.url}}" alt="" class="img-fluid lecture-img rounded">
                                    </div>
                                    <div class="my-auto col-8" style="text-align: right;">
                                        <h6 class="font-weight-bold">{{instance.user.first_name}} {{instance.user.last_name}}</h6>
                                        <h6>{{instance.user.profile.bio}}</h6>
                                    </div>
                                </div>
                            </a>
                        </div>    
                    {% endfor %}
                </div>
            </div>
        </div>  
        <div class="col-lg-6">
            {% if event_participant|length == 0 and object.is_registration_due == False %}
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h5 class="text-danger font-weight-bold m-0">Pendaftaran</h5>
                </div>
                <div class="card-body">
                    <p>
                        Anda Belum Terdaftar pada event ini. Apakah anda akan mendaftarkan diri untuk mengikuti event ini?
                    </p>
                    <p>
                        Daftar segera sebelum tanggal {{object.due_registration|date:"d F Y"}}
                    </p>
                    <a href="{{object.get_register_url}}" class="btn btn-success btn-icon-split mb-2" role="button">
                        <span class="icon text-white">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Daftar Sekarang</span>
                    </a>
                </div>
            </div>
            {% elif event_participant|length > 0 and event_participant.0.invoice.pay_status == True %}
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h5 class="text-danger font-weight-bold m-0">Tiket</h5>
                </div>
                <div class="card-body">
                    <h6>
                        Selamat anda telah terdaftar dalam event ini.
                    </h6>
                    <h6>Nomor Tiket : #{{event_participant.0.id}}</h6>
                    <a href="{{object.get_ticket_url}}" class="btn btn-success btn-icon-split mb-2" role="button" target="_blank">
                        <span class="icon text-white">
                            <i class="fas fa-ticket-alt"></i>
                        </span>
                        <span class="text">Cetak Tiket</span>
                    </a>
                </div>
            </div>
            {% elif event_participant|length > 0 and object.is_registration_due == False and not event_participant.0.invoice.is_invoice_due %}
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h5 class="text-danger font-weight-bold m-0">Pilihan Registrasi</h5>
                </div>
                <div class="card-body">
                    <p>
                        Anda sudah mendaftarkan diri pada event ini. Untuk mendapatkan tiket acara ini, segera selesaikan pembayaran melalui tombol di bawah ini.
                    </p>
                    {% if event_participant.0.invoice.account %}
                    <a href="{{event_participant.0.invoice.get_payment_url}}" class="btn btn-success btn-icon-split mb-2" role="button">
                        <span class="icon text-white">
                            <i class="fas fa-money-bill"></i>
                        </span>
                        <span class="text">Bayar Sekarang</span>
                    </a> 
                    {% else %}   
                    <a href="{{object.get_payment_url}}" class="btn btn-primary btn-icon-split mb-2" role="button">
                        <span class="icon text-white">
                            <i class="fas fa-money-bill"></i>
                        </span>
                        <span class="text">Pilih Metode Pembayaran</span>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% elif event_participant|length > 0 and object.is_registration_due == False and event_participant.0.invoice.is_invoice_due %}
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h5 class="text-danger font-weight-bold m-0">Pendaftaran</h5>
                </div>
                <div class="card-body">
                    <p>Anda terlambat melakukan pembayaran.</p>
                    <p>
                        Anda Belum Terdaftar pada event ini. Apakah anda akan mendaftarkan diri untuk mengikuti event ini?
                    </p>
                    <p>
                        Daftar segera sebelum tanggal {{object.due_registration|date:"d F Y"}}
                    </p>
                    <a href="{{object.get_register_url}}" class="btn btn-success btn-icon-split mb-2" role="button">
                        <span class="icon text-white">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Daftar Lagi</span>
                    </a>
                </div>
            </div>
            {% elif object.is_registration_due == True %}
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h5 class="text-danger font-weight-bold m-0">Pendaftaran</h5>
                </div>
                <div class="card-body">
                    <p>Mohon maaf pendaftaran sudah ditutup pada {{object.due_registration|date:"d F Y"}}</p>
                </div>
            </div>
            {% endif %}
            
            {% if event_participant.0.invoice.pay_status == True  %}
            <div class="card shadow mb-4 ">
                <div class="card-header">
                    <h5 class="text-danger font-weight-bold m-0">File Pendukung</h5>
                </div>
                <div class="card-body">                            
                    {% for data in object.data.all %}    
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h6 class="font-weight-bold m-0">
                                <a href="{{data.file.url}}">
                                    <i class="far fa-file-alt mr-2"></i>
                                    <span>{{data.file.name}}</span> 
                                </a>
                            </h6>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h5 class="text-danger font-weight-bold m-0">Rekomendasi SK Organisasi</h5>
                </div>
                <div class="card-body"> 
                    {% for instance in object.document.all %}
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div class="my-auto">
                                        <h6 class="font-weight-bold">{{instance.name}}</h6>
                                    </div>
                                    <div class="my-auto">
                                        <a class="btn btn-link font-weight-bold" data-toggle="collapse" href="#collapse_{{instance.id}}" role="button" aria-expanded="false" aria-controls="{{instance.id}}">
                                            <span>Detail</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse_{{instance.id}}">
                                    <div class="card card-body">
                                        
                                        {% if instance.file %}
                                        <h6 class="font-weight-bold m-0">
                                            <a href="{{instance.file.url}}">
                                                <i class="far fa-file-alt mr-2"></i>
                                                <span>{{instance.filename}}</span> 
                                            </a>
                                        </h6>
                                        {% endif %}
                                            
                                    </div>
                                </div>
                            </li>
                        </ul>  
                    {% endfor %}
                        
                </div>
            </div>
                  
        </div>  
    </div>

    <!-- modal -->

    <!-- modal-payment -->
    <div class="modal fade" id="payment" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Proses Pembayaran?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-success">Proses</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal-cancel -->
    <div class="modal fade" id="cancel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Proses Pembayaran?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h6>
                        Apakah anda yakin akan membatalkan pendaftaran ini?
                    </h6>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-danger">Ya</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endlanguage %}
{% endblock content %}


{% block jquery %}
<script>
    $(document).ready(function(){
        $('#event').addClass('active');
        $('#event_mobile').addClass('active');
    })

</script>
    
{% endblock jquery %}
    
    