{% extends 'dashboard.html' %}

{% block title %}
    Daftar Event Saya
{% endblock title %}
    
{% load i18n %}
{% block content %}
    <div class="container-fluid">
        <div class="d-flex justify-content-start mb-4">
            <h3 class="font-weight-bold">Daftar Event Saya</h3>
        </div>
        {% for instance in event_participant %}
        
            {% if instance.invoice.pay_status %}
                <div class="card shadow mb-4 border-left-success">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-10">
                                <a href="{{instance.event.get_absolute_url}}" class="h4 font-weight-bold text-success">{{instance.event.name}}</a>
                                <p class="p mb-0 font-weight-bold text-gray-800"><i class="far fa-calendar-alt"></i> {{instance.event.date}}</p>
                                <p class="card-text mb-0"><i class="far fa-clock"></i> {{instance.event.time}}</p>
                                <p class="card-text mb-0"></i><i class="fas fa-chalkboard-teacher"></i> {{instance.event.get_event_type_display}}</p> 
                                <p class="text-success text-justify">
                                    <i class="fas fa-money-bill"></i>
                                    <span>Lunas</span>
                                </p>
                            </div>
                            <div class="col-lg-2">
                                <div class="d-flex justify-content-end">
                                    <a href="{{instance.event.get_ticket_url}}" class="btn btn-success">Cetak Tiket</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            <div class="card shadow mb-4 border-left-warning">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <a href="{{instance.event.get_absolute_url}}" class="h4 font-weight-bold text-warning">{{instance.event.name}}</a>
                            <p class="p mb-0 font-weight-bold text-gray-800"><i class="far fa-calendar-alt"></i> {{instance.event.date}}</p>
                            <p class="card-text mb-0"><i class="far fa-clock"></i> {{instance.event.time}}</p>
                            <p class="card-text mb-0"></i><i class="fas fa-chalkboard-teacher"></i> {{instance.event.get_event_type_display}}</p> 
                            <p class="text-warning text-justify">
                                <i class="fas fa-money-bill"></i>
                                <span>Belum Dibayar</span>
                            </p>
                        </div>
                        <div class="col-lg-2">
                            <div class="d-flex justify-content-end">
                                <a href="{{instance.invoice.get_payment_url}}" class="btn btn-warning">Bayar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            

        {% endfor %}
    </div>
{% endblock content %}


{% block jquery %}
    <script>
        $(document).ready(function(){
            $('#event').addClass('active');
            $('#my_event').addClass('active');
        })
    </script>
{% endblock jquery %}
    