{% extends 'dashboard.html' %}
{% load i18n %}
{% block content %}
    <div class="container-fluid">
        <div class="card shadow mb-4" id="collapseSeminar">
            <div class="card-header">
                <h5 class="text-primary font-weight-bold m-0">Event Saya</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush"> 
                    <div class="table-responsive">
                        {% if event_participant|length > 0 %}
                        <table class="table table-hover">
                            <thead class="thead">
                              <tr>
                                <th scope="col">No</th>
                                <th scope="col">Event</th>
                                <th scope="col">Tipe</th>
                                <th scope="col">Tanggal</th>
                                <th scope="col">Lokasi</th>
                                <th scope="col">Status</th>
                                <th scope="col">Handle</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for instance in event_participant %}  
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{instance.event.name}}</td>
                                    <td>{{instance.event.get_event_type_display}}</td>
                                    <td>
                                        {% if instance.event.is_past_due %}
                                        <span class="text-danger">
                                            {% language 'id' %}
                                            {{ instance.event.date|date:"d F Y" }}
                                            {% endlanguage %}
                                            
                                        </span>
                                        {% else %}
                                        <span class="text-primary">
                                            {% language 'id' %}
                                            {{ instance.event.date|date:"d F Y" }}
                                            {% endlanguage %}
                                        </span>
                                        {% endif %}
                                    </td>
                                    <td>{{instance.event.location.city}}</td>
                                    <td class>  
                                        {% if instance.pay_status %}
                                        <p class="text-success text-justify">
                                            <i class="fas fa-check-square"></i>
                                            <span>Terbayar</span>
                                        </p>
                                        {% else %}
                                        <p class="text-warning text-justify">
                                            <i class="fas fa-money-bill"></i>
                                            <span>Belum terbayar</span>
                                        </p>
                                        {% endif %}  
                                    </td>
                                    <td>
                                        <a href="{{instance.event.get_absolute_url}}">
                                            <i class="fas fa-search mr-1"></i>
                                            <span>Lihat</span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <h5>Anda belum terdaftar ke event apapun</h5>
                        {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}


{% block jquery %}
    <script>
        $(document).ready(function(){
            $('#event').addClass('active');
            $('#my_event').addClass('active');
        })
    </script>
{% endblock jquery %}
    